APP_KEY=novel
NOVEL_PORT=5201
PORT=5201
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5301
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=novel_db
AGENT_PLATFORM_URL=http://127.0.0.1:4001
AGENT_PLATFORM_TIMEOUT_MS=180000
